<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <title>맛집등록</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <style>
        body{ padding-top:80px; },
      
/*
        .navvar-default{
            border:none;
            background-color: #F7C728;
*/
        }
    </style>
    
  </head>
  <body>
  
      
      <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">FoodTrip</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="">맛집검색</a></li>
            <li><a href="/enroll">맛집등록</a></li>
            <li><a href="">맛집예약</a></li>
            <li><a href="/review">맛집리뷰</a></li>
            <li><a href="">맛집공유</a></li>
          </ul>
            <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
            <a href="/login" class="btn btn-warning"><span class="glyphicon glyphicon-log-in"></span>로그인</a>
		    <a href="/signup" class="btn btn-warning"><span class="glyphicon glyphicon-user"></span>회원가입</a>
            </form>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
      
 <div class="container">			
<div class="col-sm-6 col-sm-offset-3">
<center><h1>맛집등록</h1></center>
    
<form action="/insert" method="post" >
    
<div class="form-group">
<label for="mzname">가게이름</label>
<input type="text" class="form-control" id="mzname" name="mzname" placeholder="가게 이름을 입력해주세요" >
</div>


<div class="form-group">
<label for="mztime">운영시간</label>
<input type="text" class="form-control" id="mztime" name="mztime" placeholder="운영 시간을 입력해주세요">
</div>


<div class="form-group">
<label for="mzmenu">메뉴</label>
    <textarea class="form-control" rows="3" id="mzmenu" name="mzmenu" placeholder="메뉴를 입력해주세요"></textarea></div>
<!--<p class="help-block">비밀번호 확인을 위해 다시한번 입력 해 주세요</p>-->

<div class="form-group">
<label for="mzaddr">주소</label>
    <input type="text" class="form-control" id="mzaddr" name="mzaddr" placeholder="주소를 입력해주세요"></div>
    
<div class="form-group">
<label for="mztel">전화번호</label>
<select name="telarea">
<option value="1"> 02 </option>
<option value="2"> 051 </option>
<option value="3"> 053 </option>
<option value="4"> 032 </option>
<option value="5"> 062 </option>
<option value="6"> 042 </option>
<option value="7"> 052 </option>
<option value="8"> 044 </option>
<option value="9"> 031 </option>
<option value="10"> 033 </option>
<option value="11"> 043 </option>
<option value="12"> 041 </option>
<option value="11"> 063 </option>
<option value="12"> 061 </option>
<option value="11"> 054 </option>
<option value="12"> 055 </option>
<option value="11"> 043 </option>
<option value="12"> 064 </option>    
</select>
<input type="text" class="form-control" id="mztel" name="mztel" placeholder="나머지 번호를 입력하세요">
</div>
    <div align="center">
<button type="submit" name="submit" class="btn btn-warning">
<span class="glyphicon glyphicon-check"></span>맛집등록</button>
</div> 
    </form>
    <p align="center"> FoodTrip &copy;</p>
   

    </div>
    </div>
</body>
</html>